* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Merriweather', serif;
    background-color:#ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary  {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary:hover {
    border: 2px solid #ff6767;
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0;
    color: #1d3557;
}

.food__card__description {
    padding: 15px;
}

.food__card {
    background-color: #f9f9f9;
}

.food__card__image__container {
    width: 100%
}

.food__image {
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.explore__menu__text {
    margin-bottom: 30px;
    text-align: center;
    font-weight:800;
    font-size: 32px;
    color: #1d3557;
}

.restaurant__text {
    margin: 30px 0;
    font-weight:800;
    font-size: 25px;
    color: #1d3557;
}

.restaurant__image1 {
    width: 140px;
    height: 80px;
    border-radius: 5px;
    margin-bottom:5px;
}

.restaurant__image2 {
    width: 180px;
    height: 100px;
    border-radius: 5px;
    margin-bottom:5px;
    margin-left: 5px;
}

.restaurant__image3 {
    width: 180px;
    height: 100px;
    margin-top: 0px;
    border-radius: 5px;
}

.restaurant__image4 {
    width: 140px;
    height:  80px;
    border-radius: 5px;
    margin-bottom:20px;
    margin-left: 5px;
}

.stay__update__container {
    margin-top: 50px;
    margin-left:10px;
}

.update__text {
    font-weight:800;
    font-size: 30px;
    color: #1d3557;
}

.input__form {
    padding:8px;
    border-radius:5px;
    background-color:rgb(255, 245, 231);
    border: 1px solid rgb(250, 113, 126);
}

.form__container {
    display: flex;
    gap:15px;
}

.footer__container {
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border-radius: 20px 20px 0 0;
}

.footer__logo {
    margin:50px 40px;
    width: 80%;
    height:50%;
}

.footer__list {
    list-style-type: none;
    margin-left: 130px;
    line-height: 1.8;
}

@media (max-width:767px) {
    .input__form {
        margin-top:6px;
    }

    .form {
        display: flex;
        gap:30px;  
    }

    #view__button {
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    text-align:center;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    }
}

@media (min-width: 768px) {
    .footer__container {
        display:flex;
    }

    .footer__list__container {
        margin:30px;
    }

    .footer__list {
        margin-left: 70px;
        line-height: 1.8;
        font-size:20px;
    }

    .footer__logo {
        margin-top: 100px;
        width: 30%;
        height:30%;
    }

    .update__text {
        font-size: 40px; 
    }
    .input__form {
        margin-top:10px;
        padding: 10px;
        width: 400px;
    }
    .button__primary {
        padding: 10px 30px;
        font-size:20px;
    }

    .form {
        display: flex;
        gap:30px;  
    }

    .restaurant__container {
        display: flex;
    }

    .restaurant__text {
        font-size:35px;
        margin-right: 70px;
        margin-top:60px;
        align-items: center;
    }
    .explore__menu__lists {
        margin-top: 45px;
        display: flex;
        gap: 15px;
        padding: 0 30px;
    }

    .view__more {
        font-size:20px;
        padding-top:50px;
        padding-bottom: 15px;
        text-align: center;
        color: #fff;
    }

    .explore__menu__container {
        position: relative;
    }
    
    .explore__menu__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        z-index: -1;
        transform: skewY(-7deg);
    }
    
    #pizza {
        margin: -30px 0 20px 0;
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .footer__logo {
        margin-left: 300px;
        width: 30%;
        height:30%;
    }

    .footer__container {
        display:flex;
        align-items: center;
    }

    .update__text {
        text-align: center;
    }

    .container {
        max-width: 70%;
    }

    .navbar__brand {
        width:150px;
    }
    .button__primary {
        padding: 20px;
        font-size: 20px;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 48px;
    }

    .explore__menu__lists {
        gap: 60px;
    }

    .restaurant__image1 {
        width: 200px;
        height: 120px;
        border-radius: 5px;
        margin-bottom:5px;
    }
    
    .restaurant__image2 {
        width: 300px;
        height: 200px;
        border-radius: 5px;
        margin-bottom:5px;
        margin-left: 5px;
    }
    
    .restaurant__image3 {
        width: 300px;
        height: 200px;
        margin-top: 0px;
        border-radius: 5px;
    }
    
    .restaurant__image4 {
        width: 200px;
        height:  150px;
        border-radius: 5px;
        margin-bottom:50px;
        margin-left: 5px;
    }

    .restaurant__text {
        font-size: 45px;
        /* margin-right: 70px; */
        margin-top:160px;
        align-items: center;
    }

    .form__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:20px;
    }

    #update__button {
        padding: 15px 30px;
    }
}
